# IRS Data

In [1]:
import pandas as pd
import numpy as np

# 2006

In [2]:
df_06 = pd.read_excel('./ZipCode_IRS_Data/ZIP_Code_2006_CA.xls', header=6, skiprows=13)

In [3]:
# AGI = Adjusted Gross Income
# _1 = NumReturns
# (without appended _) = Amount
column_names_06 = ['Size_of_AGI', 'ZipCode', 'Num_Returns',
                'Num_Exemptions_Total', 'Num_Exemptions_Dependent',
                'Adjusted_Gross_Income',
                'Salaries_Wages_1', 'Salaries_Wages',
                'Taxable_Interest_1', 'Taxable_Interest',
                'Ordinary_Dividends_1', 'Ordinary_Dividends',
                'NetCapital_Gain_lessloss_AGI_1', 'NetCapital_Gain_lessloss_AGI',
                'Business_Profession_NetIncome_lessloss_1', 'Business_Profession_NetIncome_lessloss',
                'Farm_1', 'Farm_2',
                'IRA_Payment_Deduction_1', 'IRA_Payment_Deduction',
                'SelfEmployment_Retirement_Plans_1', 'SelfEmployment_Retirement_Plans',
                'Total_Itemized_Deduction_1', 'Total_Itemized_Deduction_AGI', 'Total_Itemized_Deduction',
                'Contributions_1', 'Contributions_AGI', 'Contributions',
                'Taxes_Paid_1', 'Taxes_Paid_AGI', 'Taxes_Paid',
                'Alternative_Minimum_Tax_1', 'Alternative_Minimum_Tax',
                'IncomeTax_Before_Credits_1', 'IncomeTax_Before_Credits',
                'TotalTax_1', 'TotalTax',
                'Earned_Income_Credit_1', 'Earned_Income_Credit',
                'Num_Paid_Preparer_Signature']

In [4]:
df_06.columns = column_names_06
df_06.loc[df_06['Size_of_AGI'] == df_06['ZipCode'], 'Size_of_AGI'] = 'All'
df_06['Year'] = 2006

In [5]:
index06 = df_06.loc[df_06['ZipCode'].isna()].index
df_06.drop(index06 , inplace=True)

# 2007

In [6]:
df_07 = pd.read_excel('./ZipCode_IRS_Data/ZIP_Code_2007_CA.xls', header=5, skiprows=12)

In [7]:
# AGI = Adjusted Gross Income
# _1 = NumReturns
# (without appended _) = Amount
column_names_07 = ['Size_of_AGI', 'ZipCode', 'Num_Returns',
                   'Num_Joint_Returns', 'Num_Paid_Preparer_Signature',
                   'Num_Exemptions_Total', 'Num_Exemptions_Dependent',
                   'Adjusted_Gross_Income',
                   'Salaries_Wages_1', 'Salaries_Wages',
                   'Taxable_Interest_1', 'Taxable_Interest',
                   'Ordinary_Dividends_1', 'Ordinary_Dividends',
                   'Business_Profession_NetIncome_lessloss_1', 'Business_Profession_NetIncome_lessloss',
                   'Farm_1',
                   'NetCapital_Gain_lessloss_AGI_1', 'NetCapital_Gain_lessloss_AGI',
                   'Taxable_Indiv_Retirement_Arrangement_Distr_1', 'Taxable_Indiv_Retirement_Arrangement_Distr',
                   'Pensions_Annuities_AGI_1', 'Pensions_Annuities_AGI',
                   'Unemployment_Compensation_AGI_1', 'Unemployment_Compensation_AGI',
                   'SocialSecurity_Benefits_AGI_1', 'SocialSecurity_Benefits_AGI',
                   'SelfEmployment_Retirement_Plans_1', 'SelfEmployment_Retirement_Plans',
                   'Total_Itemized_Deduction_1', 'Total_Itemized_Deduction',
                   'State_Local_Income_Taxes_1', 'State_Local_Income_Taxes',
                   'State_Local_GeneralSales_Taxes_1', 'State_Local_GeneralSales_Taxes',
                   'Real_Estate_Taxes_1', 'Real_Estate_Taxes',
                   'Taxes_Paid_1', 'Taxes_Paid',
                   'Mortgage_Interest_Paid_1', 'Mortgage_Interest_Paid',
                   'Contributions_1', 'Contributions',
                   'Taxable_Income_1', 'Taxable_Income',
                   'Total_Tax_Credits_1', 'Total_Tax_Credits',
                   'Residential_Energy_Credit_1', 'Residential_Energy_Credit',
                   'Child_Tax_Credit_1', 'Child_Tax_Credit',
                   'Child_and_Dependent_Care_Credit_1', 'Child_and_Dependent_Care_Credit',
                   'Earned_Income_Credit_1', 'Earned_Income_Credit',
                   'Excess_Earned_Income_Credit_Refundable_1', 'Excess_Earned_Income_Credit_Refundable',
                   'Alternative_Minimum_Tax_1', 'Alternative_Minimum_Tax',
                   'Income_Tax_1', 'Income_Tax',
                   'Total_Tax_Liability_1', 'Total_Tax_Liability',
                   'Tax_Due_At_Filing_1','Tax_Due_At_Filing',
                   'Overpayments_Refunded_1', 'Overpayments_Refunded']

In [8]:
df_07.columns = column_names_07
df_07.loc[(df_07['Size_of_AGI'].isna()) & (~df_07['ZipCode'].isna()), 'Size_of_AGI'] = 'All'
df_07['Year'] = 2007

In [9]:
index07 = df_07.loc[df_07['ZipCode'].isna()].index
df_07.drop(index07 , inplace=True)

# 2008

In [10]:
df_08 = pd.read_excel('./ZipCode_IRS_Data/ZIP_Code_2008_CA.xls', header=6, skiprows=12)

In [11]:
# AGI = Adjusted Gross Income
# _1 = NumReturns
# (without appended _) = Amount
column_names_08 = ['Size_of_AGI','ZipCode',
                     'Num_Returns',
                     'Num_Joint_Returns',
                     'Num_Paid_Preparer_Signature',
                     'Num_Exemptions_Total',
                     'Num_Exemptions_Dependent',
                     'Adjusted_Gross_Income',
                     'Salaries_Wages',
                     'Taxable_Interest',
                     'Ordinary_Dividends',
                     'Business_Profession_NetIncome_lessloss',
                     'NetCapital_Gain_lessloss_AGI',
                     'Taxable_Indiv_Retirement_Arrangement_Distr',
                     'Pensions_Annuities_AGI',
                     'Unemployment_Compensation_AGI',
                     'SocialSecurity_Benefits_AGI',
                     'SelfEmployment_Retirement_Plans',
                     'Total_Itemized_Deduction',
                     'State_Local_Income_Taxes',
                     'State_Local_GeneralSales_Taxes',
                     'Real_Estate_Taxes',
                     'Taxes_Paid',
                     'Mortgage_Interest_Paid',
                     'Contributions',
                     'Taxable_Income',
                     'Total_Tax_Credits',
                     'Residential_Energy_Credit',
                     'Child_Tax_Credit',
                     'Child_and_Dependent_Care_Credit',
                     'Earned_Income_Credit',
                     'Excess_Earned_Income_Credit_Refundable',
                     'Alternative_Minimum_Tax',
                     'Income_Tax',
                     'Total_Tax_Liability',
                     'Tax_Due_At_Filing',
                     'Overpayments_Refunded']

In [12]:
df_08.columns = column_names_08
df_08.loc[(df_08['Size_of_AGI'].isna()) & (~df_08['ZipCode'].isna()), 'Size_of_AGI'] = 'All'
df_08['Year'] = 2008

In [13]:
index08 = df_08.loc[df_08['ZipCode'].isna()].index
df_08.drop(index08 , inplace=True)

# 2009

In [14]:
df_09 = pd.read_excel('./ZipCode_IRS_Data/ZIP_Code_2009_CA.xls', header=3, skiprows=10)

In [15]:
# AGI = Adjusted Gross Income
# _1 = NumReturns
# (without appended _) = Amount
column_names_09 = ['ZipCode',
                     'Size_of_AGI',
                     'Num_Returns',
                     'Num_Joint_Returns',
                     "Num_Paid_Preparer_Signature",
                     'Num_Exemptions_Total',
                     'Num_Exemptions_Dependent',
                     'Adjusted_Gross_Income',
                     'Salaries_Wages_1', 'Salaries_Wages',
                     'Taxable_Interest_1','Taxable_Interest',
                     'Ordinary_Dividends_1', 'Ordinary_Dividends',
                     'Qualified_Dividends_1', 'Qualified_Dividends',
                     'Business_Profession_NetIncome_lessloss_1', 'Business_Profession_NetIncome_lessloss',
                     'Farm_1',
                     'NetCapital_Gain_lessloss_AGI_1', 'NetCapital_Gain_lessloss_AGI',
                     'Taxable_Indiv_Retirement_Arrangement_Distr_1', 'Taxable_Indiv_Retirement_Arrangement_Distr',
                     'Pensions_Annuities_AGI_1', 'Pensions_Annuities_AGI',
                     'Unemployment_Compensation_AGI_1', 'Unemployment_Compensation_AGI',
                     'SocialSecurity_Benefits_AGI_1', 'SocialSecurity_Benefits_AGI',
                     'SelfEmployment_Retirement_Plans_1', 'SelfEmployment_Retirement_Plans',
                     'Total_Itemized_Deduction_1', 'Total_Itemized_Deduction',
                     'State_Local_Income_Taxes_1', 'State_Local_Income_Taxes',
                     'State_Local_GeneralSales_Taxes_1', 'State_Local_GeneralSales_Taxes',
                     'Real_Estate_Taxes_1', 'Real_Estate_Taxes',
                     'Taxes_Paid_1', 'Taxes_Paid',
                     'Mortgage_Interest_Paid_1', 'Mortgage_Interest_Paid',
                     'Contributions_1', 'Contributions',
                     'Taxable_Income_1', 'Taxable_Income',
                     'Total_Tax_Credits_1', 'Total_Tax_Credits',
                     'Residential_Energy_Credit_1', 'Residential_Energy_Credit',
                     'Child_Tax_Credit_1', 'Child_Tax_Credit',
                     'Child_and_Dependent_Care_Credit_1', 'Child_and_Dependent_Care_Credit',
                     'Additional_Child_Tax_Credit_1', 'Additional_Child_Tax_Credit',
                     'Earned_Income_Credit_1', 'Earned_Income_Credit',
                     'Excess_Earned_Income_Credit_Refundable_1', 'Excess_Earned_Income_Credit_Refundable',
                     'Alternative_Minimum_Tax_1', 'Alternative_Minimum_Tax',
                     'Income_Tax_1', 'Income_Tax',
                     'Total_Tax_Liability_1', 'Total_Tax_Liability',
                     'Tax_Due_At_Filing_1', 'Tax_Due_At_Filing',
                     'Overpayments_Refunded_1','Overpayments_Refunded']

In [16]:
df_09.columns = column_names_09
df_09.loc[(df_09['Size_of_AGI'].isna()) & (~df_09['ZipCode'].isna()), 'Size_of_AGI'] = 'All'
df_09['Year'] = 2009

In [17]:
index09 = df_09.loc[df_09['ZipCode'].isna()].index
df_09.drop(index09 , inplace=True)

In [18]:
# Excel file had a footer
index_09_footer = df_09.loc[df_09['Num_Returns'].isna()].index
df_09.drop(index_09_footer , inplace=True)

# 2010

In [19]:
df_10 = pd.read_excel('./ZipCode_IRS_Data/ZIP_Code_2010_CA.xls', header=3, skiprows=10)

In [20]:
# df_10.head()

In [21]:
# AGI = Adjusted Gross Income
# _1 = NumReturns
# (without appended _) = Amount
column_names_10 = ['ZipCode',
                     'Size_of_AGI',
                     'Num_Returns',
                     'Num_Joint_Returns',
                     "Num_Paid_Preparer_Signature",
                     'Num_Exemptions_Total',
                     'Num_Exemptions_Dependent',
                     'Adjusted_Gross_Income',
                     'Salaries_Wages_1', 'Salaries_Wages',
                     'Taxable_Interest_1','Taxable_Interest',
                     'Ordinary_Dividends_1', 'Ordinary_Dividends',
                     'Qualified_Dividends_1', 'Qualified_Dividends',
                     'Business_Profession_NetIncome_lessloss_1', 'Business_Profession_NetIncome_lessloss',
                     'Farm_1',
                     'NetCapital_Gain_lessloss_AGI_1', 'NetCapital_Gain_lessloss_AGI',
                     'Taxable_Indiv_Retirement_Arrangement_Distr_1', 'Taxable_Indiv_Retirement_Arrangement_Distr',
                     'Pensions_Annuities_AGI_1', 'Pensions_Annuities_AGI',
                     'Unemployment_Compensation_AGI_1', 'Unemployment_Compensation_AGI',
                     'SocialSecurity_Benefits_AGI_1', 'SocialSecurity_Benefits_AGI',
                     'SelfEmployment_Retirement_Plans_1', 'SelfEmployment_Retirement_Plans',
                     'Total_Itemized_Deduction_1', 'Total_Itemized_Deduction',
                     'State_Local_Income_Taxes_1', 'State_Local_Income_Taxes',
                     'State_Local_GeneralSales_Taxes_1', 'State_Local_GeneralSales_Taxes',
                     'Real_Estate_Taxes_1', 'Real_Estate_Taxes',
                     'Taxes_Paid_1', 'Taxes_Paid',
                     'Mortgage_Interest_Paid_1', 'Mortgage_Interest_Paid',
                     'Contributions_1', 'Contributions',
                     'Taxable_Income_1', 'Taxable_Income',
                     'Total_Tax_Credits_1', 'Total_Tax_Credits',
                     'Residential_Energy_Credit_1', 'Residential_Energy_Credit',
                     'Child_Tax_Credit_1', 'Child_Tax_Credit',
                     'Child_and_Dependent_Care_Credit_1', 'Child_and_Dependent_Care_Credit',
                     'Additional_Child_Tax_Credit_1', 'Additional_Child_Tax_Credit',
                     'Earned_Income_Credit_1', 'Earned_Income_Credit',
                     'Excess_Earned_Income_Credit_Refundable_1', 'Excess_Earned_Income_Credit_Refundable',
                     'Alternative_Minimum_Tax_1', 'Alternative_Minimum_Tax',
                     'Income_Tax_1', 'Income_Tax',
                     'Total_Tax_Liability_1', 'Total_Tax_Liability',
                     'Tax_Due_At_Filing_1', 'Tax_Due_At_Filing',
                     'Overpayments_Refunded_1','Overpayments_Refunded']

In [22]:
df_10.columns = column_names_10
df_10.loc[(df_10['Size_of_AGI'].isna()) & (~df_10['ZipCode'].isna()), 'Size_of_AGI'] = 'All'
df_10['Year'] = 2010

In [23]:
index10 = df_10.loc[df_10['ZipCode'].isna()].index
df_10.drop(index10 , inplace=True)

In [24]:
# Excel file had a footer
index_10_footer = df_10.loc[df_10['Num_Returns'].isna()].index
df_10.drop(index_10_footer , inplace=True)

# 2011

In [25]:
df_11 = pd.read_excel('./ZipCode_IRS_Data/ZIP_Code_2011_CA.xls', header=3, skiprows=10)

In [26]:
# df_11.head()

In [27]:
# AGI = Adjusted Gross Income
# _1 = NumReturns
# (without appended _) = Amount
column_names_11 = ['ZipCode',
                     'Size_of_AGI',
                     'Num_Returns',
                     'Num_Joint_Returns',
                     "Num_Paid_Preparer_Signature",
                     'Num_Exemptions_Total',
                     'Num_Exemptions_Dependent',
                     'Adjusted_Gross_Income',
                     'Salaries_Wages_1', 'Salaries_Wages',
                     'Taxable_Interest_1','Taxable_Interest',
                     'Ordinary_Dividends_1', 'Ordinary_Dividends',
                     'Qualified_Dividends_1', 'Qualified_Dividends',
                     'Business_Profession_NetIncome_lessloss_1', 'Business_Profession_NetIncome_lessloss',
                     'Farm_1',
                     'NetCapital_Gain_lessloss_AGI_1', 'NetCapital_Gain_lessloss_AGI',
                     'Taxable_Indiv_Retirement_Arrangement_Distr_1', 'Taxable_Indiv_Retirement_Arrangement_Distr',
                     'Pensions_Annuities_AGI_1', 'Pensions_Annuities_AGI',
                     'Unemployment_Compensation_AGI_1', 'Unemployment_Compensation_AGI',
                     'SocialSecurity_Benefits_AGI_1', 'SocialSecurity_Benefits_AGI',
                     'SelfEmployment_Retirement_Plans_1', 'SelfEmployment_Retirement_Plans',
                     'Total_Itemized_Deduction_1', 'Total_Itemized_Deduction',
                     'State_Local_Income_Taxes_1', 'State_Local_Income_Taxes',
                     'State_Local_GeneralSales_Taxes_1', 'State_Local_GeneralSales_Taxes',
                     'Real_Estate_Taxes_1', 'Real_Estate_Taxes',
                     'Taxes_Paid_1', 'Taxes_Paid',
                     'Mortgage_Interest_Paid_1', 'Mortgage_Interest_Paid',
                     'Contributions_1', 'Contributions',
                     'Taxable_Income_1', 'Taxable_Income',
                     'Total_Tax_Credits_1', 'Total_Tax_Credits',
                     'Residential_Energy_Credit_1', 'Residential_Energy_Credit',
                     'Child_Tax_Credit_1', 'Child_Tax_Credit',
                     'Child_and_Dependent_Care_Credit_1', 'Child_and_Dependent_Care_Credit',
                     'Additional_Child_Tax_Credit_1', 'Additional_Child_Tax_Credit',
                     'Earned_Income_Credit_1', 'Earned_Income_Credit',
                     'Excess_Earned_Income_Credit_Refundable_1', 'Excess_Earned_Income_Credit_Refundable',
                     'Alternative_Minimum_Tax_1', 'Alternative_Minimum_Tax',
                     'Income_Tax_1', 'Income_Tax',
                     'Total_Tax_Liability_1', 'Total_Tax_Liability',
                     'Tax_Due_At_Filing_1', 'Tax_Due_At_Filing',
                     'Overpayments_Refunded_1','Overpayments_Refunded']

In [28]:
df_11.columns = column_names_11
df_11.loc[(df_11['Size_of_AGI'].isna()) & (~df_11['ZipCode'].isna()), 'Size_of_AGI'] = 'All'
df_11['Year'] = 2011

In [29]:
index11 = df_11.loc[df_11['ZipCode'].isna()].index
df_11.drop(index11 , inplace=True)

In [30]:
# Excel file had a footer
index_11_footer = df_11.loc[df_11['Num_Returns'].isna()].index
df_11.drop(index_11_footer , inplace=True)

# 2012

In [31]:
df_12 = pd.read_excel('./ZipCode_IRS_Data/ZIP_Code_2012_CA.xls', header=3, skiprows=10)

In [32]:
# AGI = Adjusted Gross Income
# _1 = NumReturns
# (without appended _) = Amount
column_names_12 = ['ZipCode',
                     'Size_of_AGI',
                     'Num_Returns',
                     'Num_Single_Returns',
                     'Num_Joint_Returns',
                     'Num_Head_of_Household_Returns',
                     "Num_Paid_Preparer_Signature",
                     'Num_Exemptions_Total',
                     'Num_Exemptions_Dependent',
                     'Adjusted_Gross_Income',
                     'Salaries_Wages_1', 'Salaries_Wages',
                     'Taxable_Interest_1','Taxable_Interest',
                     'Ordinary_Dividends_1', 'Ordinary_Dividends',
                     'Qualified_Dividends_1', 'Qualified_Dividends',
                     'Business_Profession_NetIncome_lessloss_1', 'Business_Profession_NetIncome_lessloss',
                     'Farm_1',
                     'NetCapital_Gain_lessloss_AGI_1', 'NetCapital_Gain_lessloss_AGI',
                     'Taxable_Indiv_Retirement_Arrangement_Distr_1', 'Taxable_Indiv_Retirement_Arrangement_Distr',
                     'Pensions_Annuities_AGI_1', 'Pensions_Annuities_AGI',
                     'Unemployment_Compensation_AGI_1', 'Unemployment_Compensation_AGI',
                     'SocialSecurity_Benefits_AGI_1', 'SocialSecurity_Benefits_AGI',
                     'SelfEmployment_Retirement_Plans_1', 'SelfEmployment_Retirement_Plans',
                     'Total_Itemized_Deduction_1', 'Total_Itemized_Deduction_AGI' ,'Total_Itemized_Deduction',
                     'State_Local_Income_Taxes_1', 'State_Local_Income_Taxes',
                     'State_Local_GeneralSales_Taxes_1', 'State_Local_GeneralSales_Taxes',
                     'Real_Estate_Taxes_1', 'Real_Estate_Taxes',
                     'Taxes_Paid_1', 'Taxes_Paid',
                     'Mortgage_Interest_Paid_1', 'Mortgage_Interest_Paid',
                     'Contributions_1', 'Contributions',
                     'Taxable_Income_1', 'Taxable_Income',
                     'Alternative_Minimum_Tax_1', 'Alternative_Minimum_Tax',
                     'Total_Tax_Credits_1', 'Total_Tax_Credits',
                     'Child_and_Dependent_Care_Credit_1', 'Child_and_Dependent_Care_Credit',
                     'Child_Tax_Credit_1', 'Child_Tax_Credit',
                     'Residential_Energy_Credit_1', 'Residential_Energy_Credit',
                     'Earned_Income_Credit_1', 'Earned_Income_Credit',
                     'Excess_Earned_Income_Credit_Refundable_1', 'Excess_Earned_Income_Credit_Refundable',
                     'Additional_Child_Tax_Credit_1', 'Additional_Child_Tax_Credit',
                     'Income_Tax_1', 'Income_Tax',
                     'Total_Tax_Liability_1', 'Total_Tax_Liability',
                     'Tax_Due_At_Filing_1', 'Tax_Due_At_Filing',
                     'Overpayments_Refunded_1','Overpayments_Refunded']

In [33]:
df_12.columns = column_names_12
df_12.loc[(df_12['Size_of_AGI'].isna()) & (~df_12['ZipCode'].isna()), 'Size_of_AGI'] = 'All'
df_12['Year'] = 2012

In [34]:
index12 = df_12.loc[df_12['ZipCode'].isna()].index
df_12.drop(index12 , inplace=True)

In [35]:
# Excel file had a footer
index_12_footer = df_12.loc[df_12['Num_Returns'].isna()].index
df_12.drop(index_12_footer , inplace=True)

# -----------------------------------------------

# Get Common Features for all Datasets

In [36]:
final_common_features = ['ZipCode',
                        'Size_of_AGI',
                        'Num_Returns',
                        'Num_Joint_Returns',
                        'Num_Paid_Preparer_Signature',
                        'Num_Exemptions_Total',
                        'Num_Exemptions_Dependent',
                        'Adjusted_Gross_Income',
                        'Salaries_Wages',
                        'Taxable_Interest',
                        'Ordinary_Dividends',
                        'Business_Profession_NetIncome_lessloss',
                        'Farm_1',
                        'NetCapital_Gain_lessloss_AGI',
                        'Taxable_Indiv_Retirement_Arrangement_Distr',
                        'Pensions_Annuities_AGI',
                        'Unemployment_Compensation_AGI',
                        'SocialSecurity_Benefits_AGI',
                        'SelfEmployment_Retirement_Plans',
                        'Total_Itemized_Deduction',
                        'State_Local_Income_Taxes',
                        'State_Local_GeneralSales_Taxes',
                        'Real_Estate_Taxes',
                        'Taxes_Paid',
                        'Mortgage_Interest_Paid',
                        'Contributions',
                        'Taxable_Income',
                        'Alternative_Minimum_Tax',
                        'Total_Tax_Credits',
                        'Child_and_Dependent_Care_Credit',
                        'Child_Tax_Credit',
                        'Residential_Energy_Credit',
                        'Earned_Income_Credit',
                        'Excess_Earned_Income_Credit_Refundable',
                        'Additional_Child_Tax_Credit',
                        'Income_Tax',
                        'Total_Tax_Liability',
                        'Tax_Due_At_Filing',
                        'Overpayments_Refunded', 'Year']

In [37]:
def get_common_features(df, features):
    new_df = df
    get_cols = [col for col in features if col in new_df.columns]
    return new_df.loc[:][get_cols]

In [38]:
df_06 = get_common_features(df_06, final_common_features)
df_07 = get_common_features(df_07, final_common_features)
df_08 = get_common_features(df_08, final_common_features)
df_09 = get_common_features(df_09, final_common_features)
df_10 = get_common_features(df_10, final_common_features)
df_11 = get_common_features(df_11, final_common_features)
df_12 = get_common_features(df_12, final_common_features)

# Bring Data Long to Wide

In [39]:
def pivot_dataframe(df, index_val='ZipCode', by_col='Size_of_AGI'):
    new_df = df
    new_df = new_df.pivot(index=index_val, columns=by_col)
    new_df.columns = ['_'.join(col).rstrip('_') for col in new_df.columns.values]
    
    remove_cols = []
    for col in new_df.columns:
        if ('_All' in col) | ('Year' in col):
            remove_cols.append(col)
            
    remove_cols = [col for col in remove_cols if col != 'Year_All']
    new_df = new_df.rename(columns={"Year_All": "Year"}).drop(remove_cols, axis=1)
    return new_df

In [40]:
df_06 = pivot_dataframe(df_06, index_val='ZipCode', by_col='Size_of_AGI')
df_07 = pivot_dataframe(df_07, index_val='ZipCode', by_col='Size_of_AGI')
df_08 = pivot_dataframe(df_08, index_val='ZipCode', by_col='Size_of_AGI')
df_09 = pivot_dataframe(df_09, index_val='ZipCode', by_col='Size_of_AGI')
df_10 = pivot_dataframe(df_10, index_val='ZipCode', by_col='Size_of_AGI')
df_11 = pivot_dataframe(df_11, index_val='ZipCode', by_col='Size_of_AGI')
df_12 = pivot_dataframe(df_12, index_val='ZipCode', by_col='Size_of_AGI')

In [41]:
print('6', len(df_06.columns))
print('7', len(df_07.columns))
print('8', len(df_08.columns))
print('9', len(df_09.columns))
print('10', len(df_10.columns))
print('11', len(df_11.columns))
print('12', len(df_12.columns))

6 120
7 253
8 246
9 223
10 223
11 223
12 223

#### For years 06-08 Size of Adjusted Gross Income was 
`Under \$10,000`

`$10,000 under $25,000`

$25,000 under $50,000

$50,000 under $75,000

$75,000 under $100,000

$100,000 under $200,000

$200,000 or more

#### For years 09-12 Size of Adjusted Gross Income was 
`$1 under $25,000`

$25,000 under $50,000

$50,000 under $75,000

$75,000 under $100,000

$100,000 under $200,000

$200,000 or more

## Need to combine the two lower brackets in 06-08 data

In [42]:
def remove_whitespace_column_names(df):
    new_df = df
    new_df.columns = ["".join(col.split()) for col in df.columns]
    return new_df

In [43]:
df_06 = remove_whitespace_column_names(df_06)
df_07 = remove_whitespace_column_names(df_07)
df_08 = remove_whitespace_column_names(df_08)
df_09 = remove_whitespace_column_names(df_09)
df_10 = remove_whitespace_column_names(df_10)
df_11 = remove_whitespace_column_names(df_11)
df_12 = remove_whitespace_column_names(df_12)

# Impute Missing Data with NaN
### *Tables originally had * as missing values.*

In [44]:
# Missing Data is a little star (see below in column Num_Returns_$200,000ormore)
# Need to replace with NaN
df_06.head(2)

,"Num_Returns_$10,000under$25,000","Num_Returns_$100,000under$200,000","Num_Returns_$200,000ormore","Num_Returns_$25,000under$50,000","Num_Returns_$50,000under$75,000","Num_Returns_$75,000under$100,000","Num_Returns_Under$10,000","Num_Paid_Preparer_Signature_$10,000under$25,000","Num_Paid_Preparer_Signature_$100,000under$200,000","Num_Paid_Preparer_Signature_$200,000ormore",...,"Alternative_Minimum_Tax_$75,000under$100,000","Alternative_Minimum_Tax_Under$10,000","Earned_Income_Credit_$10,000under$25,000","Earned_Income_Credit_$100,000under$200,000","Earned_Income_Credit_$200,000ormore","Earned_Income_Credit_$25,000under$50,000","Earned_Income_Credit_$50,000under$75,000","Earned_Income_Credit_$75,000under$100,000","Earned_Income_Credit_Under$10,000",Year
ZipCode,,,,,,,,,,,,,,,,,,,,,
90001.0,7862,65,22,5065,1076,236,3279,6741,56,21,...,*,0,11563,0,0,1657,0,0,2810,2006
90002.0,6770,86,*,4245,950,184,3092,5728,68,*,...,20,0,11869,0,0,1547,0,0,3256,2006

In [45]:
df_06 = df_06.apply(pd.to_numeric, errors='coerce')
df_07 = df_07.apply(pd.to_numeric, errors='coerce')
df_08 = df_08.apply(pd.to_numeric, errors='coerce')
df_09 = df_09.apply(pd.to_numeric, errors='coerce')
df_10 = df_10.apply(pd.to_numeric, errors='coerce')
df_11 = df_11.apply(pd.to_numeric, errors='coerce')
df_12 = df_12.apply(pd.to_numeric, errors='coerce')

# Get Same Brackets

In [46]:
def create_new_column(df, col, col1, col2):
    if (col1 in df.columns) and (col2 in df.columns):
        print('Both col1 and col2 Here')
        df[col] = df[col1] + df[col2]
    elif (col1 in df.columns) and (col2 not in df.columns):
        print('Only col1 Here')
        df[col2] = 0
        df[col] = df[col1] + df[col2]
    elif (col1 not in df.columns) and (col2 in df.columns):
        print('Only col2 Here')
        df[col1] = 0
        df[col] = df[col1] + df[col2]
    elif (col1 not in df.columns) and (col2 not in df.columns) and (col in df.columns):
        print('col already Here')
        return df
    else:
        print('Both cols are not Here')
        df[col] = np.nan
    return df

In [47]:
need_to_create = [('Num_Returns_$1under$25,000', 'Num_Returns_Under$10,000', 'Num_Returns_$10,000under$25,000'),
                    ('Num_Joint_Returns_$1under$25,000','Num_Joint_Returns_Under$10,000','Num_Joint_Returns_$10,000under$25,000'),
                    ('Num_Paid_Preparer_Signature_$1under$25,000','Num_Paid_Preparer_Signature_Under$10,000','Num_Paid_Preparer_Signature_$10,000under$25,000'),
                    ('Num_Exemptions_Total_$1under$25,000','Num_Exemptions_Total_Under$10,000','Num_Exemptions_Total_$10,000under$25,000'),
                    ('Num_Exemptions_Dependent_$1under$25,000','Num_Exemptions_Dependent_Under$10,000', 'Num_Exemptions_Dependent_$10,000under$25,000'),
                    ('Adjusted_Gross_Income_$1under$25,000','Adjusted_Gross_Income_Under$10,000','Adjusted_Gross_Income_$10,000under$25,000'),
                    ('Salaries_Wages_$1under$25,000','Salaries_Wages_Under$10,000','Salaries_Wages_$10,000under$25,000' ),
                    ('Taxable_Interest_$1under$25,000','Taxable_Interest_Under$10,000','Taxable_Interest_$10,000under$25,000'),
                    ('Ordinary_Dividends_$1under$25,000','Ordinary_Dividends_Under$10,000','Ordinary_Dividends_$10,000under$25,000'),
                    ('Business_Profession_NetIncome_lessloss_$1under$25,000','Business_Profession_NetIncome_lessloss_Under$10,000','Business_Profession_NetIncome_lessloss_$10,000under$25,000'),
                    ('Farm_1_$1under$25,000','Farm_1_Under$10,000','Farm_1_$10,000under$25,000'),
                    ('NetCapital_Gain_lessloss_AGI_$1under$25,000','NetCapital_Gain_lessloss_AGI_Under$10,000','NetCapital_Gain_lessloss_AGI_$10,000under$25,000'),
                    ('Taxable_Indiv_Retirement_Arrangement_Distr_$1under$25,000','Taxable_Indiv_Retirement_Arrangement_Distr_Under$10,000','Taxable_Indiv_Retirement_Arrangement_Distr_$10,000under$25,000'),
                    ('Pensions_Annuities_AGI_$1under$25,000','Pensions_Annuities_AGI_Under$10,000','Pensions_Annuities_AGI_$10,000under$25,000'),
                    ('Unemployment_Compensation_AGI_$1under$25,000','Unemployment_Compensation_AGI_Under$10,000','Unemployment_Compensation_AGI_$10,000under$25,000'),
                    ('SocialSecurity_Benefits_AGI_$1under$25,000','SocialSecurity_Benefits_AGI_Under$10,000','SocialSecurity_Benefits_AGI_$10,000under$25,000'),
                    ('SelfEmployment_Retirement_Plans_$1under$25,000','SelfEmployment_Retirement_Plans_Under$10,000','SelfEmployment_Retirement_Plans_$10,000under$25,000'),
                    ('Total_Itemized_Deduction_$1under$25,000','Total_Itemized_Deduction_Under$10,000','Total_Itemized_Deduction_$10,000under$25,000'),
                    ('State_Local_Income_Taxes_$1under$25,000','State_Local_Income_Taxes_Under$10,000','State_Local_Income_Taxes_$10,000under$25,000'),
                    ('State_Local_GeneralSales_Taxes_$1under$25,000','State_Local_GeneralSales_Taxes_Under$10,000','State_Local_GeneralSales_Taxes_$10,000under$25,000'),
                    ('Real_Estate_Taxes_$1under$25,000','Real_Estate_Taxes_Under$10,000','Real_Estate_Taxes_$10,000under$25,000'),
                    ('Taxes_Paid_$1under$25,000','Taxes_Paid_Under$10,000','Taxes_Paid_$10,000under$25,000'),
                    ('Mortgage_Interest_Paid_$1under$25,000','Mortgage_Interest_Paid_Under$10,000','Mortgage_Interest_Paid_$10,000under$25,000'),
                    ('Contributions_$1under$25,000','Contributions_Under$10,000','Contributions_$10,000under$25,000'),
                    ('Taxable_Income_$1under$25,000','Taxable_Income_Under$10,000','Taxable_Income_$10,000under$25,000'),
                    ('Alternative_Minimum_Tax_$1under$25,000','Alternative_Minimum_Tax_Under$10,000','Alternative_Minimum_Tax_$10,000under$25,000'),
                    ('Total_Tax_Credits_$1under$25,000','Total_Tax_Credits_Under$10,000','Total_Tax_Credits_$10,000under$25,000'),
                    ('Child_and_Dependent_Care_Credit_$1under$25,000','Child_and_Dependent_Care_Credit_Under$10,000','Child_and_Dependent_Care_Credit_$10,000under$25,000'),
                    ('Child_Tax_Credit_$1under$25,000','Child_Tax_Credit_Under$10,000','Child_Tax_Credit_$10,000under$25,000'),
                    ('Residential_Energy_Credit_$1under$25,000','Residential_Energy_Credit_Under$10,000','Residential_Energy_Credit_$10,000under$25,000'),
                    ('Earned_Income_Credit_$1under$25,000','Earned_Income_Credit_Under$10,000','Earned_Income_Credit_$10,000under$25,000'),
                    ('Excess_Earned_Income_Credit_Refundable_$1under$25,000','Excess_Earned_Income_Credit_Refundable_Under$10,000','Excess_Earned_Income_Credit_Refundable_$10,000under$25,000'),
                    ('Additional_Child_Tax_Credit_$1under$25,000','Additional_Child_Tax_Credit_Under$10,000','Additional_Child_Tax_Credit_$10,000under$25,000'),
                    ('Income_Tax_$1under$25,000','Income_Tax_Under$10,000','Income_Tax_$10,000under$25,000'),
                    ('Total_Tax_Liability_$1under$25,000','Total_Tax_Liability_Under$10,000','Total_Tax_Liability_$10,000under$25,000'),
                    ('Tax_Due_At_Filing_$1under$25,000','Tax_Due_At_Filing_Under$10,000','Tax_Due_At_Filing_$10,000under$25,000'),
                    ('Overpayments_Refunded_$1under$25,000','Overpayments_Refunded_Under$10,000','Overpayments_Refunded_$10,000under$25,000')]

In [48]:
for tup in need_to_create:
    print(tup[0])
    create_new_column(df_06, tup[0], tup[1], tup[2])
    print()

Num_Returns_$1under$25,000
Both col1 and col2 Here

Num_Joint_Returns_$1under$25,000
Both cols are not Here

Num_Paid_Preparer_Signature_$1under$25,000
Both col1 and col2 Here

Num_Exemptions_Total_$1under$25,000
Both col1 and col2 Here

Num_Exemptions_Dependent_$1under$25,000
Both col1 and col2 Here

Adjusted_Gross_Income_$1under$25,000
Both col1 and col2 Here

Salaries_Wages_$1under$25,000
Both col1 and col2 Here

Taxable_Interest_$1under$25,000
Both col1 and col2 Here

Ordinary_Dividends_$1under$25,000
Both col1 and col2 Here

Business_Profession_NetIncome_lessloss_$1under$25,000
Both col1 and col2 Here

Farm_1_$1under$25,000
Both col1 and col2 Here

NetCapital_Gain_lessloss_AGI_$1under$25,000
Both col1 and col2 Here

Taxable_Indiv_Retirement_Arrangement_Distr_$1under$25,000
Both cols are not Here

Pensions_Annuities_AGI_$1under$25,000
Both cols are not Here

Unemployment_Compensation_AGI_$1under$25,000
Both cols are not Here

SocialSecurity_Benefits_AGI_$1under$25,000
Both cols are not Here

SelfEmployment_Retirement_Plans_$1under$25,000
Both col1 and col2 Here

Total_Itemized_Deduction_$1under$25,000
Both col1 and col2 Here

State_Local_Income_Taxes_$1under$25,000
Both cols are not Here

State_Local_GeneralSales_Taxes_$1under$25,000
Both cols are not Here

Real_Estate_Taxes_$1under$25,000
Both cols are not Here

Taxes_Paid_$1under$25,000
Both col1 and col2 Here

Mortgage_Interest_Paid_$1under$25,000
Both cols are not Here

Contributions_$1under$25,000
Both col1 and col2 Here

Taxable_Income_$1under$25,000
Both cols are not Here

Alternative_Minimum_Tax_$1under$25,000
Both col1 and col2 Here

Total_Tax_Credits_$1under$25,000
Both cols are not Here

Child_and_Dependent_Care_Credit_$1under$25,000
Both cols are not Here

Child_Tax_Credit_$1under$25,000
Both cols are not Here

Residential_Energy_Credit_$1under$25,000
Both cols are not Here

Earned_Income_Credit_$1under$25,000
Both col1 and col2 Here

Excess_Earned_Income_Credit_Refundable_$1under$25,000
Both cols are not Here

Additional_Child_Tax_Credit_$1under$25,000
Both cols are not Here

Income_Tax_$1under$25,000
Both cols are not Here

Total_Tax_Liability_$1under$25,000
Both cols are not Here

Tax_Due_At_Filing_$1under$25,000
Both cols are not Here

Overpayments_Refunded_$1under$25,000
Both cols are not Here

In [49]:
for tup in need_to_create:
    print(tup[0])
    create_new_column(df_07, tup[0], tup[1], tup[2])
    print()

Num_Returns_$1under$25,000
Both col1 and col2 Here

Num_Joint_Returns_$1under$25,000
Both col1 and col2 Here

Num_Paid_Preparer_Signature_$1under$25,000
Both col1 and col2 Here

Num_Exemptions_Total_$1under$25,000
Both col1 and col2 Here

Num_Exemptions_Dependent_$1under$25,000
Both col1 and col2 Here

Adjusted_Gross_Income_$1under$25,000
Both col1 and col2 Here

Salaries_Wages_$1under$25,000
Both col1 and col2 Here

Taxable_Interest_$1under$25,000
Both col1 and col2 Here

Ordinary_Dividends_$1under$25,000
Both col1 and col2 Here

Business_Profession_NetIncome_lessloss_$1under$25,000
Both col1 and col2 Here

Farm_1_$1under$25,000
Both col1 and col2 Here

NetCapital_Gain_lessloss_AGI_$1under$25,000
Both col1 and col2 Here

Taxable_Indiv_Retirement_Arrangement_Distr_$1under$25,000
Both col1 and col2 Here

Pensions_Annuities_AGI_$1under$25,000
Both col1 and col2 Here

Unemployment_Compensation_AGI_$1under$25,000
Both col1 and col2 Here

SocialSecurity_Benefits_AGI_$1under$25,000
Both col1 and col2 Here

SelfEmployment_Retirement_Plans_$1under$25,000
Both col1 and col2 Here

Total_Itemized_Deduction_$1under$25,000
Both col1 and col2 Here

State_Local_Income_Taxes_$1under$25,000
Both col1 and col2 Here

State_Local_GeneralSales_Taxes_$1under$25,000
Both col1 and col2 Here

Real_Estate_Taxes_$1under$25,000
Both col1 and col2 Here

Taxes_Paid_$1under$25,000
Both col1 and col2 Here

Mortgage_Interest_Paid_$1under$25,000
Both col1 and col2 Here

Contributions_$1under$25,000
Both col1 and col2 Here

Taxable_Income_$1under$25,000
Both col1 and col2 Here

Alternative_Minimum_Tax_$1under$25,000
Both col1 and col2 Here

Total_Tax_Credits_$1under$25,000
Both col1 and col2 Here

Child_and_Dependent_Care_Credit_$1under$25,000
Both col1 and col2 Here

Child_Tax_Credit_$1under$25,000
Both col1 and col2 Here

Residential_Energy_Credit_$1under$25,000
Both col1 and col2 Here

Earned_Income_Credit_$1under$25,000
Both col1 and col2 Here

Excess_Earned_Income_Credit_Refundable_$1under$25,000
Both col1 and col2 Here

Additional_Child_Tax_Credit_$1under$25,000
Both cols are not Here

Income_Tax_$1under$25,000
Both col1 and col2 Here

Total_Tax_Liability_$1under$25,000
Both col1 and col2 Here

Tax_Due_At_Filing_$1under$25,000
Both col1 and col2 Here

Overpayments_Refunded_$1under$25,000
Both col1 and col2 Here

In [50]:
for tup in need_to_create:
    print(tup[0])
    create_new_column(df_08, tup[0], tup[1], tup[2])
    print()

Num_Returns_$1under$25,000
Both col1 and col2 Here

Num_Joint_Returns_$1under$25,000
Both col1 and col2 Here

Num_Paid_Preparer_Signature_$1under$25,000
Both col1 and col2 Here

Num_Exemptions_Total_$1under$25,000
Both col1 and col2 Here

Num_Exemptions_Dependent_$1under$25,000
Both col1 and col2 Here

Adjusted_Gross_Income_$1under$25,000
Both col1 and col2 Here

Salaries_Wages_$1under$25,000
Both col1 and col2 Here

Taxable_Interest_$1under$25,000
Both col1 and col2 Here

Ordinary_Dividends_$1under$25,000
Both col1 and col2 Here

Business_Profession_NetIncome_lessloss_$1under$25,000
Both col1 and col2 Here

Farm_1_$1under$25,000
Both cols are not Here

NetCapital_Gain_lessloss_AGI_$1under$25,000
Both col1 and col2 Here

Taxable_Indiv_Retirement_Arrangement_Distr_$1under$25,000
Both col1 and col2 Here

Pensions_Annuities_AGI_$1under$25,000
Both col1 and col2 Here

Unemployment_Compensation_AGI_$1under$25,000
Both col1 and col2 Here

SocialSecurity_Benefits_AGI_$1under$25,000
Both col1 and col2 Here

SelfEmployment_Retirement_Plans_$1under$25,000
Both col1 and col2 Here

Total_Itemized_Deduction_$1under$25,000
Both col1 and col2 Here

State_Local_Income_Taxes_$1under$25,000
Both col1 and col2 Here

State_Local_GeneralSales_Taxes_$1under$25,000
Both col1 and col2 Here

Real_Estate_Taxes_$1under$25,000
Both col1 and col2 Here

Taxes_Paid_$1under$25,000
Both col1 and col2 Here

Mortgage_Interest_Paid_$1under$25,000
Both col1 and col2 Here

Contributions_$1under$25,000
Both col1 and col2 Here

Taxable_Income_$1under$25,000
Both col1 and col2 Here

Alternative_Minimum_Tax_$1under$25,000
Both col1 and col2 Here

Total_Tax_Credits_$1under$25,000
Both col1 and col2 Here

Child_and_Dependent_Care_Credit_$1under$25,000
Both col1 and col2 Here

Child_Tax_Credit_$1under$25,000
Both col1 and col2 Here

Residential_Energy_Credit_$1under$25,000
Both col1 and col2 Here

Earned_Income_Credit_$1under$25,000
Both col1 and col2 Here

Excess_Earned_Income_Credit_Refundable_$1under$25,000
Both col1 and col2 Here

Additional_Child_Tax_Credit_$1under$25,000
Both cols are not Here

Income_Tax_$1under$25,000
Both col1 and col2 Here

Total_Tax_Liability_$1under$25,000
Both col1 and col2 Here

Tax_Due_At_Filing_$1under$25,000
Both col1 and col2 Here

Overpayments_Refunded_$1under$25,000
Both col1 and col2 Here

In [51]:
print('6', len(df_06.columns))
print('7', len(df_07.columns))
print('8', len(df_08.columns))
print('9', len(df_09.columns))
print('10', len(df_10.columns))
print('11', len(df_11.columns))
print('12', len(df_12.columns))

6 157
7 290
8 283
9 223
10 223
11 223
12 223

In [52]:
final_pivot_common_features = list(df_09.columns)

In [53]:
def add_missing_columns(df, final_features):
    new_cols = [col for col in final_features if col not in df.columns]
    for col in new_cols:
        df[col] = np.nan
    return df

In [54]:
add_missing_columns(df_06, final_pivot_common_features)

,"Num_Returns_$10,000under$25,000","Num_Returns_$100,000under$200,000","Num_Returns_$200,000ormore","Num_Returns_$25,000under$50,000","Num_Returns_$50,000under$75,000","Num_Returns_$75,000under$100,000","Num_Returns_Under$10,000","Num_Paid_Preparer_Signature_$10,000under$25,000","Num_Paid_Preparer_Signature_$100,000under$200,000","Num_Paid_Preparer_Signature_$200,000ormore",...,"Tax_Due_At_Filing_$100,000under$200,000","Tax_Due_At_Filing_$200,000ormore","Tax_Due_At_Filing_$25,000under$50,000","Tax_Due_At_Filing_$50,000under$75,000","Tax_Due_At_Filing_$75,000under$100,000","Overpayments_Refunded_$100,000under$200,000","Overpayments_Refunded_$200,000ormore","Overpayments_Refunded_$25,000under$50,000","Overpayments_Refunded_$50,000under$75,000","Overpayments_Refunded_$75,000under$100,000"
ZipCode,,,,,,,,,,,,,,,,,,,,,
90001.0,7862.0,65.0,22.0,5065.0,1076.0,236.0,3279.0,6741.0,56.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90002.0,6770.0,86.0,NaN,4245.0,950.0,184.0,3092.0,5728.0,68.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90003.0,9251.0,71.0,14.0,5505.0,1139.0,213.0,4426.0,7891.0,53.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90004.0,8046.0,1039.0,912.0,6378.0,2087.0,866.0,5290.0,6367.0,836.0,826.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90005.0,4755.0,335.0,232.0,3120.0,892.0,343.0,3083.0,3804.0,263.0,210.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96156.0,752.0,36.0,11.0,611.0,161.0,48.0,286.0,482.0,39.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96158.0,586.0,157.0,50.0,575.0,225.0,121.0,392.0,333.0,122.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96160.0,509.0,268.0,106.0,648.0,365.0,211.0,398.0,270.0,201.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96161.0,581.0,631.0,267.0,800.0,573.0,406.0,662.0,296.0,419.0,223.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96162.0,339.0,168.0,58.0,414.0,220.0,134.0,297.0,197.0,129.0,47.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
add_missing_columns(df_07, final_pivot_common_features)

,"Num_Returns_$10,000under$25,000","Num_Returns_$100,000under$200,000","Num_Returns_$200,000ormore","Num_Returns_$25,000under$50,000","Num_Returns_$50,000under$75,000","Num_Returns_$75,000under$100,000","Num_Returns_Under$10,000","Num_Joint_Returns_$10,000under$25,000","Num_Joint_Returns_$100,000under$200,000","Num_Joint_Returns_$200,000ormore",...,"Additional_Child_Tax_Credit_$1under$25,000","Income_Tax_$1under$25,000","Total_Tax_Liability_$1under$25,000","Tax_Due_At_Filing_$1under$25,000","Overpayments_Refunded_$1under$25,000","Additional_Child_Tax_Credit_$100,000under$200,000","Additional_Child_Tax_Credit_$200,000ormore","Additional_Child_Tax_Credit_$25,000under$50,000","Additional_Child_Tax_Credit_$50,000under$75,000","Additional_Child_Tax_Credit_$75,000under$100,000"
ZipCode,,,,,,,,,,,,,,,,,,,,,
90001.0,7802.0,75.0,17.0,5549.0,1221.0,266.0,4995.0,1479.0,54.0,12.0,...,NaN,1628.0,4485.0,592.0,22443.0,NaN,NaN,NaN,NaN,NaN
90002.0,6939.0,82.0,NaN,4493.0,1051.0,238.0,4646.0,1139.0,58.0,NaN,...,NaN,1354.0,3943.0,486.0,22640.0,NaN,NaN,NaN,NaN,NaN
90003.0,9632.0,93.0,12.0,5904.0,1230.0,264.0,6297.0,1562.0,74.0,NaN,...,NaN,1909.0,5847.0,861.0,30184.0,NaN,NaN,NaN,NaN,NaN
90004.0,8038.0,1142.0,974.0,6627.0,2197.0,960.0,6664.0,1498.0,621.0,686.0,...,NaN,3291.0,8039.0,2222.0,16471.0,NaN,NaN,NaN,NaN,NaN
90005.0,4671.0,375.0,241.0,3509.0,969.0,397.0,4005.0,993.0,210.0,167.0,...,NaN,1782.0,4485.0,1402.0,9395.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96156.0,743.0,43.0,NaN,644.0,179.0,62.0,398.0,111.0,28.0,NaN,...,NaN,404.0,503.0,48.0,1157.0,NaN,NaN,NaN,NaN,NaN
96158.0,590.0,174.0,53.0,561.0,253.0,131.0,545.0,67.0,144.0,42.0,...,NaN,335.0,555.0,139.0,918.0,NaN,NaN,NaN,NaN,NaN
96160.0,483.0,283.0,119.0,671.0,367.0,233.0,446.0,66.0,234.0,97.0,...,NaN,282.0,566.0,144.0,746.0,NaN,NaN,NaN,NaN,NaN
96161.0,676.0,695.0,299.0,824.0,580.0,461.0,851.0,112.0,582.0,247.0,...,NaN,442.0,864.0,220.0,1348.0,NaN,NaN,NaN,NaN,NaN
96162.0,352.0,173.0,56.0,438.0,219.0,135.0,332.0,52.0,146.0,44.0,...,NaN,219.0,409.0,93.0,546.0,NaN,NaN,NaN,NaN,NaN

In [56]:
add_missing_columns(df_08, final_pivot_common_features)

,"Num_Returns_$10,000under$25,000","Num_Returns_$100,000under$200,000","Num_Returns_$200,000ormore","Num_Returns_$25,000under$50,000","Num_Returns_$50,000under$75,000","Num_Returns_$75,000under$100,000","Num_Returns_Under$10,000","Num_Joint_Returns_$10,000under$25,000","Num_Joint_Returns_$100,000under$200,000","Num_Joint_Returns_$200,000ormore",...,"Farm_1_$100,000under$200,000","Farm_1_$200,000ormore","Farm_1_$25,000under$50,000","Farm_1_$50,000under$75,000","Farm_1_$75,000under$100,000","Additional_Child_Tax_Credit_$100,000under$200,000","Additional_Child_Tax_Credit_$200,000ormore","Additional_Child_Tax_Credit_$25,000under$50,000","Additional_Child_Tax_Credit_$50,000under$75,000","Additional_Child_Tax_Credit_$75,000under$100,000"
ZipCode,,,,,,,,,,,,,,,,,,,,,
90001.0,8041,101.0,11.0,5672,1221,303.0,3212,1491,79.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90002.0,7162,90.0,NaN,4596,1118,252.0,2915,1122,61.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90003.0,9809,110.0,NaN,6225,1331,298.0,4209,1493,69.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90004.0,7827,1188.0,932.0,6667,2316,982.0,5145,1497,681.0,666.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90005.0,4549,414.0,232.0,3592,1050,424.0,3033,942,236.0,167.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96156.0,686,42.0,NaN,608,170,47.0,282,114,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96158.0,501,176.0,41.0,547,239,137.0,434,68,150.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96160.0,498,287.0,82.0,621,360,211.0,416,78,248.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96161.0,740,728.0,270.0,898,580,452.0,811,103,621.0,229.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96162.0,375,156.0,46.0,442,223,136.0,293,62,130.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
print('6', len(df_06.columns))
print('7', len(df_07.columns))
print('8', len(df_08.columns))
print('9', len(df_09.columns))
print('10', len(df_10.columns))
print('11', len(df_11.columns))
print('12', len(df_12.columns))

6 257
7 295
8 293
9 223
10 223
11 223
12 223

# Finally get all the columns in the correct order before Concatenation

In [58]:
df_06 = df_06.loc[:][final_pivot_common_features]
df_07 = df_07.loc[:][final_pivot_common_features]
df_08 = df_08.loc[:][final_pivot_common_features]
df_09 = df_09.loc[:][final_pivot_common_features]
df_10 = df_10.loc[:][final_pivot_common_features]
df_11 = df_11.loc[:][final_pivot_common_features]
df_12 = df_12.loc[:][final_pivot_common_features]

# Just to check they are in the correct order

In [59]:
# Same Size
print('6', len(df_06.columns))
print('7', len(df_07.columns))
print('8', len(df_08.columns))
print('9', len(df_09.columns))
print('10', len(df_10.columns))
print('11', len(df_11.columns))
print('12', len(df_12.columns))

6 223
7 223
8 223
9 223
10 223
11 223
12 223

In [64]:
# for i in range(len(df_06.columns)):
#     print(df_06.columns[i] == df_07.columns[i] == df_08.columns[i]\
#           == df_09.columns[i] == df_10.columns[i] == df_11.columns[i] == df_12.columns[i])

# Concat Data together

In [61]:
final_df = pd.concat([df_06, df_07, df_08, df_09, df_10, df_11, df_12], axis=0)

In [65]:
final_df.to_csv('IRS_Tax_Data_06_to_12.csv')

In [66]:
len(final_df.columns)

223